.main2-UoM {
    align-items: center;
    background-color: #ffffff;
    background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/U51sv1ntYKbEgd2ZCRTZaR/files/image/2e34d9a8ea4a2b5655a8e39205a25bcacf38dd0c');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .auto-group-xar9-Wk3 {
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 17.4rem;
      padding: 6.5rem 7rem 2.1rem 8rem;
      width: 100%;
  
      .group-3701-Mu5 {
        align-items: flex-start;
        display: flex;
        flex-shrink: 0;
        margin: 2rem 71.164rem 0rem 0rem;
  
        .auto-group-y3px-gRZ {
          flex-shrink: 0;
          height: 5.8549rem;
          margin: 0.118rem 2.657rem 0rem 0rem;
          object-fit: contain;
          position: relative;
          vertical-align: top;
          width: 6.0789rem;
        }
        .tere-amq {
          color: #75bf7a;
          flex-shrink: 0;
          font-family: Jalnan, 'Source Sans Pro';
          font-size: 6.5257rem;
          font-weight: 700;
          line-height: 1.0420353281;
          white-space: nowrap;
        }
      }
      .group-3719-giP {
        flex-shrink: 0;
        height: 8rem;
        margin: 0rem 1.2rem 0.8rem 0rem;
        position: relative;
        width: 8rem;
  
        .pngfind-1-Cwd {
          height: 5.6779rem;
          left: 1.5rem;
          object-fit: cover;
          position: absolute;
          top: 1.4rem;
          vertical-align: top;
          width: 5rem;
        }
        .ellipse-47-WhR {
          border: solid 0.5rem #000000;
          border-radius: 4rem;
          box-sizing: border-box;
          height: 8rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 8rem;
        }
      }
      .my-page-owR {
        color: #000000;
        flex-shrink: 0;
        font-family: Jalnan, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.2575;
        margin-top: 0.4rem;
        white-space: nowrap;
      }
    }
    .auto-group-8h3q-JtB {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 2.7rem 7.9rem 0rem 8rem;
      width: 100%;
  
      .auto-group-mn1r-qNK {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 8.6rem;
        width: 100%;
  
        .auto-group-tsoz-nYT {
          flex-shrink: 0;
          margin-right: 16.1rem;
          width: 56.7rem;
  
          .auto-group-zpd1-wAT {
            height: 6.6rem;
            margin: 0rem 0rem 32rem 1.8rem;
            position: relative;
            width: 28.6rem;
  
            .item--EfM {
              color: #9e9da2;
              font-family: Jalnan, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 700;
              height: 2.8rem;
              left: 0;
              line-height: 1.1666666667;
              position: absolute;
              top: 1.9rem;
              white-space: nowrap;
              width: 18.6rem;
            }
            .item--rq9 {
              color: #000000;
              font-family: Jalnan, 'Source Sans Pro';
              font-size: 6.0726rem;
              font-weight: 700;
              height: 6.6rem;
              left: 0;
              line-height: 1.0853728878;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 28.6rem;
            }
          }
          .auto-group-tat5-wrb {
            align-items: center;
            display: flex;
            height: 6.7rem;
            width: 100%;
  
            .group-3717-u2j {
              align-items: center;
              background-color: #000000;
              border-radius: 0.5rem;
              box-sizing: border-box;
              display: flex;
              flex-shrink: 0;
              height: calc(100% - 0.0227rem);
              margin: 0rem 3rem 0.023rem 0rem;
              padding: 1.1rem 4.7rem 0.277rem 2.9rem;
  
              .auto-group-2i3v-nMR {
                flex-shrink: 0;
                height: 3.9rem;
                margin: 0rem 2.1rem 1.4rem 0rem;
                object-fit: contain;
                position: relative;
                vertical-align: top;
                width: 3.7rem;
              }
              .check-list-6su {
                color: #ffffff;
                flex-shrink: 0;
                font-family: Jalnan, 'Source Sans Pro';
                font-size: 2.4601rem;
                font-weight: 700;
                line-height: 1.3;
                margin-top: 2.1rem;
                white-space: nowrap;
              }
            }
            .group-3718-ao5 {
              align-items: center;
              background-color: #000000;
              border-radius: 0.5rem;
              box-sizing: border-box;
              display: flex;
              flex-shrink: 0;
              height: 100%;
              padding: 1.404rem 4.049rem 0.2rem 1.918rem;
  
              .geo-ui-earth-east-uqM {
                flex-shrink: 0;
                height: 3.7867rem;
                margin: 0rem 1.647rem 1.309rem 0rem;
                object-fit: contain;
                position: relative;
                vertical-align: top;
                width: 3.7867rem;
              }
              .go-schedule-dFZ {
                color: #ffffff;
                flex-shrink: 0;
                font-family: Jalnan, 'Source Sans Pro';
                font-size: 2.4601rem;
                font-weight: 700;
                line-height: 1.3;
                margin-top: 1.8957rem;
                white-space: nowrap;
              }
            }
          }
        }
        .group-78-ino {
          flex-shrink: 0;
          height: 58.2813rem;
          margin-bottom: 2.7187rem;
          object-fit: contain;
          position: relative;
          vertical-align: top;
          width: 55.3rem;
        }
      }
      .auto-group-ekuh-Syh {
        background-color: #75bf7a;
        border-radius: 1rem;
        box-sizing: border-box;
        color: #ffffff;
        flex-shrink: 0;
        font-family: Jalnan Gothic TTF, 'Source Sans Pro';
        font-size: 2.4601rem;
        font-weight: 400;
        height: 16.6rem;
        line-height: 1.1381818895;
        margin-right: 0.1rem;
        padding: 4.1rem 4.8rem;
        white-space: nowrap;
        width: 128rem;
      }
    }
  }