body {
  background-image: url("image/main_image/main_background.jpg");
  background-size: 1440px 1024px;
  background-repeat: no-repeat;
}

.login {
  background-image: url("image/main_image/Login.png");
  width: 187px;
  height: 63px;
  position: absolute;
  top: 29px;
  left: 1191px;
}

.developer {
  width: 530px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 899px;
  left: 128px;
  font-family: Jalnan Gothic TTF;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.checklist {
  background-image: url("image/main_image/Checklist_button.png");
  width: 268px;
  height: 75px;
  position: absolute;
  top: 705px;
  left: 80px;
}

.goschedule {
  background-image: url("image/main_image/GoSchedule_button.png");
  width: 277px;
  height: 67px;
  position: absolute;
  top: 705px;
  left: 370px;
}