@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../image/main_image/main_background.jpg");
  border: none;
  background-size: 1440px 1024px;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: white;
  border: none;
  width: 187px;
  height: 63px;
  font-family: yg-jalnan;
  font-weight: Regular;
  font-size: 40px;
  position: absolute;
  top: 29px;
  left: 1191px;
}

.developer {
  width: 530px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 899px;
  left: 128px;
  font-family: JalnanGothic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.checklist {
  background-image: url("../image/main_image/Checklist_button.png");
  border: none;
  width: 268px;
  height: 75px;
  position: absolute;
  top: 705px;
  left: 80px;
}

.goschedule {
  background-image: url("../image/main_image/GoSchedule_button.png");
  border: none;
  width: 277px;
  height: 67px;
  position: absolute;
  top: 705px;
  left: 370px;
}

.title_explain {
  width: 550px;
  color: rgba(158,157,162,1);
  position: absolute;
  top: 341px;
  left: 104px;
  font-family: yg-jalnan;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.title {
  width: 419px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 380px;
  left: 98px;
  font-family: yg-jalnan;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}

.miniTitle {
  width: 640px;
  color: rgba(117,191,122,1);
  position: absolute;
  top: 40px;
  left: 165px;
  font-family: yg-jalnan;
  font-weight: Regular;
  font-size: 65px;
  opacity: 1;
  text-align: left;
}